

html, body {
   height:  calc(100% - 46px) !important
}

#root {
    position: relative;
    min-height: 100%;
}
main {
    padding-bottom: 100px;
}

.footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

.text-center {
    text-align: center;
}